/* Card1 */
body{
  height: 1000rem;
}


.btn-green{
  background-color: #4BBE9C;
  color: #fff;
  font-size: 20px;
  
} 

.btn-yellow{
  background-color: #4BBE9C;
  color: #fff;
  font-size: 20px;
  
} 

.rounded{
  border-radius: 12px!important;

}

.bg-grey{
  background-color: #f5f5f5;
 
}
.bg-dark50{
  background-color: rgba(0,0, 0, 0.4);


}

